@font-face {
  font-family: "Bebas Neue";
  src: url("../fonts/BebasNeueRegular.woff2") format("woff2"), url("../fonts/BebasNeueRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.text-box {
  padding-top: 2rem;
}
.result {
  margin-bottom: 0;
  margin-top: 3rem;
}
.fonts {
  font-size: 2rem;
  text-align: center;
  padding: 2rem;
}
small {
  font-size: 1.3rem;
}
.open-sans {
  font-family: "Open Sans", sans-serif;
}
.bebas-regular {
  font-family: "Bebas Neue", sans-serif;
}
.bad-script {
  font-family: "Bad Script", cursive;
}
.lobster {
  font-family: "Lobster", cursive;
}
